/node_modules
/public/hot
/public/js/*
/public/temp-files
/public/uploads
/public/temporary-files
/public/storage
/storage/*.key
/vendor
.env-lock
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
